In [13]:
import akshare as ak
import pandas as pd

In [3]:
stock_sse_summary_df = ak.stock_sse_summary()
stock_sse_summary_df

      项目         股票         主板       科创板
0   流通股本    44886.7      43751   1135.71
1    总市值  465597.06  406237.16   59359.9
2  平均市盈率      12.04      11.05     34.49
3   上市公司       2251       1689       562
4   上市股票       2290       1728       562
5   流通市值  418512.93  382692.86  35820.07
6   报告时间   20231019   20231019  20231019
8    总股本   48895.87   46787.98   2107.89

In [1]:
import akshare as ak

currency_boc_sina_df = ak.currency_boc_sina(symbol="美元", start_date="20230304", end_date="20230813")
print(currency_boc_sina_df)

             日期   中行汇买价   中行钞买价  中行钞卖价/汇卖价   央行中间价
0    2023-03-06  691.80  686.17     694.73  689.51
1    2023-03-07  694.49  688.84     697.44  691.56
2    2023-03-08  693.49  687.85     696.43  695.25
3    2023-03-09  695.04  689.39     697.99  696.66
4    2023-03-10  689.70  684.09     692.62  696.55
..          ...     ...     ...        ...     ...
110  2023-08-07  718.00  712.16     720.86  713.80
111  2023-08-08  720.63  714.77     723.51  715.65
112  2023-08-09  719.79  713.94     722.66  715.88
113  2023-08-10  720.74  714.88     723.62  715.76
114  2023-08-11  722.74  716.86     725.62  715.87

[115 rows x 5 columns]

In [22]:
import akshare as ak
import os
# import requests
# proxy = 'http://127.0.0.1:10889'
# proxies = {
#    'http': proxy,
#    'https': proxy
# }
# session = requests.Session()
# session.proxies.update(proxies)
# ak.set_proxy(session=session)
# Set the proxy server URL and port number

proxy_url = 'http://127.0.0.1'
proxy_port = '10889'

# Set the HTTP_PROXY and HTTPS_PROXY environment variables
os.environ['HTTP_PROXY'] = f'{proxy_url}:{proxy_port}'
os.environ['HTTPS_PROXY'] = f'{proxy_url}:{proxy_port}'

stock_us_hist_df = ak.stock_us_hist(symbol='105.MTP', period="daily", start_date="19700101", end_date="22220101", adjust="qfq")
print(stock_us_hist_df)

TypeError: 'NoneType' object is not subscriptable

In [16]:
import quandl
quandl.ApiConfig.proxies = {
   'http': 'http://127.0.0.1:10889',
   'https': 'http://127.0.0.1:10889',
}
data = quandl.get("WIKI/AAPL", rows=5)

SSLError: HTTPSConnectionPool(host='data.nasdaq.com', port=443): Max retries exceeded with url: /api/v3/datasets/WIKI/AAPL/data?order=asc&rows=5 (Caused by SSLError(SSLEOFError(8, 'EOF occurred in violation of protocol (_ssl.c:1123)')))

In [8]:
from googlefinance import getQuotes
import json
print json.dumps(getQuotes('AAPL'), indent=2)

SyntaxError: invalid syntax (1078275139.py, line 3)

In [7]:
import akshare as ak

stock_us_hist_df = ak.stock_us_hist(symbol='105.MTP', period="daily", start_date="19700101", end_date="22220101", adjust="qfq")
print(stock_us_hist_df)

TypeError: 'NoneType' object is not subscriptable

In [9]:
import akshare as ak

stock_us_daily_df = ak.stock_us_daily(symbol="AAPL", adjust="")
print(stock_us_daily_df)

           date    open    high     low   close      volume
0    1984-09-07   26.50   26.87   26.25   26.50   2981600.0
1    1984-09-10   26.50   26.62   25.87   26.37   2346400.0
2    1984-09-11   26.62   27.37   26.62   26.87   5444000.0
3    1984-09-12   26.87   27.00   26.12   26.12   4773600.0
4    1984-09-13   27.50   27.62   27.50   27.50   7429600.0
...         ...     ...     ...     ...     ...         ...
9301 2023-10-16  176.75  179.08  176.51  178.72  52516984.0
9302 2023-10-17  176.65  178.42  174.80  177.15  57549350.0
9303 2023-10-18  175.58  177.58  175.11  175.84  54764375.0
9304 2023-10-19  176.04  177.84  175.19  175.46  59302863.0
9305 2023-10-20  175.31  175.42  172.64  172.88  64244028.0

[9306 rows x 6 columns]

In [3]:
import efinance as ef
# 股票代码
stock_code = '600519'
ef.stock.get_quote_history(stock_code)

,股票名称,股票代码,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,贵州茅台,600519,2001-08-27,-159.23,-159.02,-158.58,-159.56,406318,1.410347e+09,-0.61,0.52,0.83,56.83
1,贵州茅台,600519,2001-08-28,-159.14,-158.76,-158.74,-159.21,129647,4.634630e+08,-0.30,0.16,0.26,18.13
2,贵州茅台,600519,2001-08-29,-158.74,-158.86,-158.74,-158.91,53252,1.946890e+08,-0.11,-0.06,-0.10,7.45
3,贵州茅台,600519,2001-08-30,-158.88,-158.72,-158.63,-158.93,48013,1.775580e+08,-0.19,0.09,0.14,6.72
4,贵州茅台,600519,2001-08-31,-158.71,-158.73,-158.61,-158.78,23231,8.623100e+07,-0.11,-0.01,-0.01,3.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5294,贵州茅台,600519,2023-10-16,1750.98,1729.90,1756.00,1722.45,20790,3.603605e+09,1.92,-1.21,-21.10,0.17
5295,贵州茅台,600519,2023-10-17,1739.00,1726.00,1739.44,1716.00,14945,2.577312e+09,1.35,-0.23,-3.90,0.12
5296,贵州茅台,600519,2023-10-18,1718.80,1728.00,1742.00,1717.18,20318,3.511988e+09,1.44,0.12,2.00,0.16
5297,贵州茅台,600519,2023-10-19,1700.00,1630.00,1700.03,1626.03,73492,1.214692e+10,4.28,-5.67,-98.00,0.59
5298,贵州茅台,600519,2023-10-20,1630.00,1645.00,1655.00,1616.25,45376,7.421391e+09,2.38,0.92,15.00,0.36

In [10]:
import akshare as ak

stock_us_daily_df = ak.stock_us_daily(symbol="AAPL", adjust="")
print(stock_us_daily_df)

           date    open    high     low   close      volume
0    1984-09-07   26.50   26.87   26.25   26.50   2981600.0
1    1984-09-10   26.50   26.62   25.87   26.37   2346400.0
2    1984-09-11   26.62   27.37   26.62   26.87   5444000.0
3    1984-09-12   26.87   27.00   26.12   26.12   4773600.0
4    1984-09-13   27.50   27.62   27.50   27.50   7429600.0
...         ...     ...     ...     ...     ...         ...
9301 2023-10-16  176.75  179.08  176.51  178.72  52516984.0
9302 2023-10-17  176.65  178.42  174.80  177.15  57549350.0
9303 2023-10-18  175.58  177.58  175.11  175.84  54764375.0
9304 2023-10-19  176.04  177.84  175.19  175.46  59302863.0
9305 2023-10-20  175.31  175.42  172.64  172.88  64244028.0

[9306 rows x 6 columns]

In [12]:
stock_us_daily_df.to_csv('./AAPL.csv')

In [22]:
df=pd.read_csv('./AAPL.csv')

In [16]:
df

      Unnamed: 0        date    open    high     low   close      volume
0              0  1984-09-07   26.50   26.87   26.25   26.50   2981600.0
1              1  1984-09-10   26.50   26.62   25.87   26.37   2346400.0
2              2  1984-09-11   26.62   27.37   26.62   26.87   5444000.0
3              3  1984-09-12   26.87   27.00   26.12   26.12   4773600.0
4              4  1984-09-13   27.50   27.62   27.50   27.50   7429600.0
...          ...         ...     ...     ...     ...     ...         ...
9301        9301  2023-10-16  176.75  179.08  176.51  178.72  52516984.0
9302        9302  2023-10-17  176.65  178.42  174.80  177.15  57549350.0
9303        9303  2023-10-18  175.58  177.58  175.11  175.84  54764375.0
9304        9304  2023-10-19  176.04  177.84  175.19  175.46  59302863.0
9305        9305  2023-10-20  175.31  175.42  172.64  172.88  64244028.0

[9306 rows x 7 columns]

In [17]:
df.head()

   Unnamed: 0        date   open   high    low  close     volume
0           0  1984-09-07  26.50  26.87  26.25  26.50  2981600.0
1           1  1984-09-10  26.50  26.62  25.87  26.37  2346400.0
2           2  1984-09-11  26.62  27.37  26.62  26.87  5444000.0
3           3  1984-09-12  26.87  27.00  26.12  26.12  4773600.0
4           4  1984-09-13  27.50  27.62  27.50  27.50  7429600.0

In [23]:
df.drop(labels='Unnamed: 0',axis='columns',inplace=True)
df

            date    open    high     low   close      volume
0     1984-09-07   26.50   26.87   26.25   26.50   2981600.0
1     1984-09-10   26.50   26.62   25.87   26.37   2346400.0
2     1984-09-11   26.62   27.37   26.62   26.87   5444000.0
3     1984-09-12   26.87   27.00   26.12   26.12   4773600.0
4     1984-09-13   27.50   27.62   27.50   27.50   7429600.0
...          ...     ...     ...     ...     ...         ...
9301  2023-10-16  176.75  179.08  176.51  178.72  52516984.0
9302  2023-10-17  176.65  178.42  174.80  177.15  57549350.0
9303  2023-10-18  175.58  177.58  175.11  175.84  54764375.0
9304  2023-10-19  176.04  177.84  175.19  175.46  59302863.0
9305  2023-10-20  175.31  175.42  172.64  172.88  64244028.0

[9306 rows x 6 columns]

In [24]:
df['date']=pd.to_datetime(df['date'])
df

           date    open    high     low   close      volume
0    1984-09-07   26.50   26.87   26.25   26.50   2981600.0
1    1984-09-10   26.50   26.62   25.87   26.37   2346400.0
2    1984-09-11   26.62   27.37   26.62   26.87   5444000.0
3    1984-09-12   26.87   27.00   26.12   26.12   4773600.0
4    1984-09-13   27.50   27.62   27.50   27.50   7429600.0
...         ...     ...     ...     ...     ...         ...
9301 2023-10-16  176.75  179.08  176.51  178.72  52516984.0
9302 2023-10-17  176.65  178.42  174.80  177.15  57549350.0
9303 2023-10-18  175.58  177.58  175.11  175.84  54764375.0
9304 2023-10-19  176.04  177.84  175.19  175.46  59302863.0
9305 2023-10-20  175.31  175.42  172.64  172.88  64244028.0

[9306 rows x 6 columns]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9306 entries, 0 to 9305
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    9306 non-null   datetime64[ns]
 1   open    9306 non-null   float64
 2   high    9306 non-null   float64
 3   low     9306 non-null   float64
 4   close   9306 non-null   float64
 5   volume  9306 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 436.3 KB

In [26]:
df.set_index('date',inplace=True)
df

              open    high     low   close      volume
date
1984-09-07   26.50   26.87   26.25   26.50   2981600.0
1984-09-10   26.50   26.62   25.87   26.37   2346400.0
1984-09-11   26.62   27.37   26.62   26.87   5444000.0
1984-09-12   26.87   27.00   26.12   26.12   4773600.0
1984-09-13   27.50   27.62   27.50   27.50   7429600.0
...            ...     ...     ...     ...         ...
2023-10-16  176.75  179.08  176.51  178.72  52516984.0
2023-10-17  176.65  178.42  174.80  177.15  57549350.0
2023-10-18  175.58  177.58  175.11  175.84  54764375.0
2023-10-19  176.04  177.84  175.19  175.46  59302863.0
2023-10-20  175.31  175.42  172.64  172.88  64244028.0

[9306 rows x 5 columns]

In [28]:
df['open'].shift(1)
df

              open    high     low   close      volume
date
1984-09-07   26.50   26.87   26.25   26.50   2981600.0
1984-09-10   26.50   26.62   25.87   26.37   2346400.0
1984-09-11   26.62   27.37   26.62   26.87   5444000.0
1984-09-12   26.87   27.00   26.12   26.12   4773600.0
1984-09-13   27.50   27.62   27.50   27.50   7429600.0
...            ...     ...     ...     ...         ...
2023-10-16  176.75  179.08  176.51  178.72  52516984.0
2023-10-17  176.65  178.42  174.80  177.15  57549350.0
2023-10-18  175.58  177.58  175.11  175.84  54764375.0
2023-10-19  176.04  177.84  175.19  175.46  59302863.0
2023-10-20  175.31  175.42  172.64  172.88  64244028.0

[9306 rows x 5 columns]

In [39]:
# td's open compared to ytd's close
df.loc[(df['close']-df['open'].shift(1))/df['open'].shift(1)<-0.1].index

DatetimeIndex(['1985-03-07', '1985-03-08', '1985-05-24', '1985-05-28',
               '1987-01-21', '1987-06-16', '1987-10-19', '1987-10-20',
               '1987-10-26', '1987-10-27', '1989-06-16', '1989-12-12',
               '1990-10-03', '1990-10-16', '1991-04-15', '1991-05-01',
               '1993-07-16', '1993-07-19', '1993-12-10', '1995-01-23',
               '1995-03-14', '1995-09-15', '1996-06-26', '1997-01-06',
               '1997-07-01', '1997-08-11', '1997-08-12', '1997-10-20',
               '1997-10-30', '1997-11-11', '1997-12-02', '1998-08-28',
               '1998-08-31', '1999-09-21', '1999-09-28', '2000-04-12',
               '2000-06-21', '2000-07-24', '2000-09-22', '2000-09-29',
               '2000-10-02', '2000-10-03', '2000-10-25', '2000-12-06',
               '2001-01-02', '2001-05-30', '2001-07-18', '2002-06-19',
               '2002-07-17', '2007-11-09', '2007-11-12', '2008-01-16',
               '2008-09-29', '2008-10-02', '2008-10-03', '2008-10-08',
               '2008-10-15', '2008-11-20', '2013-01-24', '2014-06-09',
               '2020-03-12', '2020-08-31', '2020-09-03'],
              dtype='datetime64[ns]', name='date', freq=None)