In [25]:
import pandas as pd

In [26]:
pd.Series(data=[1,2,3])

0    1
1    2
2    3
dtype: int64

In [27]:
pd.Series([3, -5, 7, 4],  index=['a',  'b',  'c',  'd'])

a    3
b   -5
c    7
d    4
dtype: int64

In [28]:
data = {'Country': ['Belgium',  'India',  'Brazil'],
'Capital': ['Brussels',  'New Delhi',  'Brasilia'],
'Population': [11190846, 1303171035, 207847528]} 
df=pd.DataFrame(data,columns=['Country',  'Capital',  'Population'])
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [29]:
df[1:]

  Country    Capital  Population
1   India  New Delhi  1303171035
2  Brazil   Brasilia   207847528

In [30]:
s['b']

-5

In [31]:
df.iat([0], [0])

TypeError: '_iAtIndexer' object is not callable